/*
Paleta de colores:
#292121
#434343
#797979
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* INICIO MODAL */
.h6modal{
    padding-inline: 10px;
    margin-block: 10px;
}
.ponerhorizontal{
    display: flex;
    align-items: center;
}
.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
background-color: #fafafa;
width: 100%;
height: 260px;
padding: 15px;
overflow: hidden;
position: relative;
box-sizing: border-box;
max-width: 650px;
margin:auto;
border-radius:0px;
border: 0px solid #fcfcfc;
padding: 15px;
-webkit-border-image: url(none) 30 stretch; /* Safari 3.1-5 */
-o-border-image: url(none) 30 stretch; /* Opera 11-12.1 */
border-image: url(none) 30 stretch;
}
.modal-close{
font-size: 20px;
float: right;
font-weight: 700;
color: #292121;
font-size: 25px;
margin-top: -10px;
transition: all .2s;
cursor: pointer;
width: auto;
}
.modal-close:hover{
color: #797979;
}
.modal-img img{
width: 100%;
}
.modal-text{
text-align: center;
color:#292121;
padding: 20px;
}
.modal-text h2{
font-size: 24px;
font-weight: 600;
}
.modal-text p{
font-size: 17px;
margin-top: -15px;
margin-bottom: 50px;
}
.modal-footer{
padding: 20px 30px;
color: #292121;
width: auto;
background: #ffffff;
background-color: #ffffff;
margin:-15px;
}
input[type=text].modal-input{
color: rgba(0, 0, 0, 0.5);
width:80%;
background: rgb(255, 255, 255);
border: none;
border-radius: 3px;
outline: rgba(0, 0, 0, 0.5) none 0px;
padding: 15px;
}
input[type=submit].modal-submit-btn{
padding: 14px;
font-size: 14px;
background-color: #292121;
color:#ffffff;
width:auto;
border:none;
cursor: pointer;
border-radius: 3px;
margin-bottom: -13px;
}
@media screen and (max-width: 27em) {
    input[type=text].modal-input{
    width:90%;
    margin-bottom: 0px;
    }
    input[type=submit].modal-submit-btn{
    width:90%;
    }
    .modal-text h6{
    font-size: 15px;
    }
}
/* FINAL MODAL */

/* INICIO CARRUSEL */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
background: #fff;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FINAL CARRUSEL */

/* INICIO CSS GENERAL */
.icondehaze{
    color: #292121;  
}
.iconosder{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 96px;
}
.searchlink{
    color: #292121;
    padding: 0px;
}
.personlink{
    color: #292121;
    padding: 0px;
}
.shoppingcartlink{
    color: #292121;
    padding: 0px;
}
.imgsup{
    display: flex;
    justify-content: center;
    /*background-image: url("assets/newcollection.jpg");*/
}
.btncomprarahora{
    position: absolute;
    background: none;
    border: 1px solid white;
}
.btncomprarahora:hover{
    background-color: #ffffff;
    color: #292121;
}
h5{
    display: flex;
    justify-content: center;
    letter-spacing: 5px; /* ESPACIO EN TRE LETRAS */
    margin-top: 62px;
    margin-bottom: 32px;
}
.card-title{
    display: flex;
    flex-direction: column;
}
.card{
    margin-block: 20px;
    /*align-self: normal;*/
}
.sec_comprar_ahora{
    max-width: 100%;
    filter: opacity(70%);
    position:relative;
}
.sec_comprar_ahora:hover{
    filter: opacity(100%)
}
.comprar1{
    display: flex;
    justify-content: center;
    background-color: #292121;
}
.absolutee{
    position: absolute;
    color: white;
    background: none;
    border: 1px solid white;
    font-size: x-small;
    margin-top: 135px;
}
/* FINAL CSS GENERAL */

/* MOBILE */
@media screen and (max-width: 767px){
    /* INICIO LO QUE SE DEBE VER O NO */
    .swiperdesktop {display:none}
    .swipermobile {display:block}
    .desktop-display {display:none}
    /*.mobile-display {display:block}*/
    .dehazemobile{display:block}
    /* FINAL LO QUE SE DEBE VER O NO */

    col{
        padding: 0px;
    }
    nav{
        line-height: 30px;
    }

    /* INICIO HEADER 1 MOBILE */
    .header1{
        padding-inline: 5px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .iconoizq{
        width: 96px;
    }
    .logonafnafheader{
        padding-block: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconosder{
        width: 96px;
        display: flex;
        justify-content: flex-end;
    }
    /*.seccionmasenlaslineas{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        background: #ffffff;
        padding-inline: 60px;
        margin: 0px;
        height: 100px;
    }*/
    .botonlogo{
        padding: 0px;
        height: 56px;
    }
    .logonafnafheader{
        width: 101px;
        height: 26px;
    }
    .iconsearch{
        padding: 0px 4px 0px 4px;
    }
    .iconperson{
        padding: 0px 4px 0px 4px;
    }
    .iconshoppingcart{
        padding: 0px 4px 0px 4px;
    }
    /* FINAL HEADER 1 MOBILE */

    /*
    .nav_inferior{
        height: 100px;
    }
        .a1{
            height: 20;
            font-size: 12px;
        }
        .a2{
            height: 20;
            font-size: 12px;
        }
        .a3{
            height: 20;
            font-size: 12px;
        }
        .a4{
            height: 20;
            font-size: 12px;
        }
        .a5{
            height: 20;
            font-size: 12px;
        }
        .a6{
            height: 20;
            font-size: 12px;
        }*/

        /* INICIO MAIN MOBILE */
        .newcollectionimg{
            width: 1280px;/*170% o 2000px*/
        }
        .btncomprarahora{
            top: 315px;
        }
        /* FINAL MAIN MOBILE */
}

/* INICIO DESKTOP */
@media screen and (min-width: 768px){
    /* INICIO LO QUE SE DEBE VER O NO */
    .swipermobile {display:none}
    .swiperdesktop {display:block}
    /*.mobile-display{display:none}*/
    .desktop-display{display:block}
    .dehazemobile{display:none}
    /* FINAL LO QUE SE DEBE VER O NO */

    /* INICIO HEADER 1 DESKTOP */
    .header1{
        padding-inline: 60px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .iconoizq{
        width: 144px;
    }
    .colcenter{
        align-self: center;
    }
    .logonafnafheader{
        padding-block: 10px;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconosder{
        width: 144px;
        display: flex;
        justify-content: flex-end;
    }
    .iconsearch{
        color: #292121;
        padding: 0px 12px;
    }
    .iconperson{
        color: #292121;
        padding: 0px 12px;
    }
    .iconshoppingcart{
        color: #292121;
        padding: 0px 12px;
    }

    /* INICIO HEADER 2 DESKTOP */
    .desktop-display{
        display: flex;
        justify-content: center;
        background: #292121;
    }
    .nav_inferior{
        background: #292121;
        max-width: 700px;
        height: 35px;
        box-shadow: none;
    }
    .header2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 60px;
        margin: 0px;
        height: 35px;
    }
    .a1{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    .a2{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    .a3{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    .a4{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    .a5{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    .a6{
        display: flex;
        align-items: center;
        height: 20;
        font-size: 15px;
        height: 35px;
    }
    /* FINAL HEADER 2 DESKTOP */
    
    /* INICIO MAIN DESKTOP */
    .newcollectionimg{
        width: 1680px;
    }
    .btncomprarahora{
        top: 460px;
    }
    /* FINAL MAIN DESKTOP */
}
/* FINAL DESKTOP */