* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* inicio del carrusel */
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* fin del carrusel */
.logo{
    width: 101px;
    height: 26px;
    padding: 12px 0px 0px 0px;
}

.botonlogo{
    padding: 0px;
    height: 64px;
}
.icondehaze{
    color: #292121;  
}

.searchlink{
    color: #292121;
    padding: 0px;
}

.personlink{
    color: #292121;
    padding: 0px;
}

.shoppingcartlink{
    color: #292121;
    padding: 0px;
}

.iconosder{
    display: flex;
    align-items: center;
}

/* MOBILE */
@media screen and (min-width: 390px) and (max-width: 1280px){
    .logo{
        width: 101px;
        height: 26px;
        padding: 12px 0px 0px 0px;
    }
    .iconsearch{
        padding: 0px 4px 0px 4px;
    }
    .iconperson{
        padding: 0px 4px 0px 4px;
    }
    .iconshoppingcart{
        padding: 0px 4px 0px 4px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1280px){
    .header1{
        padding: 0px 60px;
        margin: 0px;
    }

    .logo{
        width: 176px;
        height: 44px;
        padding: 12px 0px 0px 0px;
    }
    
    .iconsearch{
        color: #292121;
        padding: 0px 12px;
    }
    
    .iconperson{
        color: #292121;
        padding: 0px 12px;
    }
    
    .iconshoppingcart{
        color: #292121;
        padding: 0px 12px;
    }
}