/*
Paleta de colores:
#292121
#434343
#797979
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Inicio del Modal */

.h6modal{
    padding-inline: 10px;
    margin-block: 10px;
}

.ponerhorizontal{
    display: flex;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: sans-serif;
    }
    .modal-content{
    background-color: #fafafa;
    width: 100%;
    height: 260px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-width: 650px;
    margin:auto;
    border-radius:0px;
    border: 0px solid #fcfcfc;
    padding: 15px;
    -webkit-border-image: url(none) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(none) 30 stretch; /* Opera 11-12.1 */
    border-image: url(none) 30 stretch;
    }
    .modal-close{
    font-size: 20px;
    float: right;
    font-weight: 700;
    color: #292121;
    font-size: 25px;
    margin-top: -10px;
    transition: all .2s;
    cursor: pointer;
    width: auto;
    }
    .modal-close:hover{
    color: #797979;
    }
    .modal-img img{
    width: 100%;
    }
    .modal-text{
    text-align: center;
    color:#292121;
    padding: 20px;
    }
    .modal-text h2{
    font-size: 24px;
    font-weight: 600;
    font-family: Lato;
    }
    .modal-text p{
    font-size: 17px;
    margin-top: -15px;
    margin-bottom: 50px;
    font-family: Lato;
    }
    .modal-footer{
    padding: 20px 30px;
    color: #292121;
    width: auto;
    background: #ffffff;
    background-color: #ffffff;
    margin:-15px;
    }
    input[type=text].modal-input{
    color: rgba(0, 0, 0, 0.5);
    width:80%;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    outline: rgba(0, 0, 0, 0.5) none 0px;
    padding: 15px;
    }
    input[type=submit].modal-submit-btn{
    padding: 14px;
    font-size: 14px;
    background-color: #292121;
    color:#ffffff;
    width:auto;
    border:none;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: -13px;
    }
    @media screen and (max-width: 27em) {
    input[type=text].modal-input{
    width:90%;
    margin-bottom: 0px;
    }
    input[type=submit].modal-submit-btn{
    width:90%;
    }
    .modal-text p{
    font-size: 15px;
    }
    }

    /* Final del Modal */

/* inicio del carrusel */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* fin del carrusel */
.logonafnaf{
    width: 101px;
    height: 26px;
    padding: 12px 0px 0px 0px;
}

.botonlogo{
    padding: 0px;
    height: 64px;
}
.icondehaze{
    color: #292121;  
}

.searchlink{
    color: #292121;
    padding: 0px;
}

.personlink{
    color: #292121;
    padding: 0px;
}

.shoppingcartlink{
    color: #292121;
    padding: 0px;
}

.iconosder{
    display: flex;
    align-items: center;
}

/* MOBILE */
@media screen and (min-width: 390px) and (max-width: 1280px){
    .logo{
        width: 101px;
        height: 26px;
        padding: 12px 0px 0px 0px;
    }
    .iconsearch{
        padding: 0px 4px 0px 4px;
    }
    .iconperson{
        padding: 0px 4px 0px 4px;
    }
    .iconshoppingcart{
        padding: 0px 4px 0px 4px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1280px){
    .header1{
        padding: 0px 60px;
        margin: 0px;
    }

    .logo{
        width: 176px;
        height: 44px;
        padding: 12px 0px 0px 0px;
    }
    
    .iconsearch{
        color: #292121;
        padding: 0px 12px;
    }
    
    .iconperson{
        color: #292121;
        padding: 0px 12px;
    }
    
    .iconshoppingcart{
        color: #292121;
        padding: 0px 12px;
    }
}